<h3><%= @competition.name %> - <%= @competition.start_time.strftime('%B %e, %l:%M:%S %P') %> to <%= @competition.end_time.strftime('%B %e, %l:%M:%S %P') %></h3>

<div>
  <p>Total Time: <%= @competition.duration %> minutes</p>
  <p>Users Registered: <%= @competition.users.count %></p>
  <p><%= link_to 'Scoreboard', scoreboard_competition_path(@competition) %></p>
</div>

<% if false && @competition.before? %>
  <div class='lead'>
    This competition has not yet started. Please wait until <%= @competition.start_time.strftime('%B %e, %l:%M:%S %P') %> for the competition to begin.
  </div>
<% else %>
  <% if @competition.after? %>
  <div class='lead'>
    This competition ended already, so the problem set has been hidden. This may be changed soon so that problem sets are always visible.
  </div>
  <% else %>
    <% if @competition.users.include?(current_user) %>
      <h3>Problem Set</h3>
      <ol>
        <% @competition.problems.each do |problem| %>
        <li><a href='#problem-<%= problem.id %>'><%= problem.name %></a></li>
        <% end %>
      </ol>
      <% @competition.problems.each do |problem| %>
        <div class='well'>
          <%= render 'problems/problem', problem: problem, submit: true %>
        </div>
      <% end %>
    <% else %>
      <div class='well'>
        You must sign up for this competition to view the problem set: 
        <%= link_to 'Join', join_competition_path(@competition), method: :post, class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
<% end %>