<%= render 'problem', problem: @problem, submit: false %>
<div class='well'>
  <h3>Submissions</h3>
  <%= render 'submissions/short_table', submissions: @submissions %>
</div>
<div class='well'>
  <h3>Submit a Solution</h3>
  <%= form_for [@problem, @submission], html: { class: 'form' } do |f| %>
    <div class='form-controls'>
      <%= f.label :language %>
      <%= f.select :language, [['Java', 'java']] %>
    </div>
    <p>
      <i>Java code must be in a class called <b><%= JavaMind.default_class_name %></b>.</i>
    </p>
    <div class='form-controls'>
      <%= f.label :code %>
      <%= f.text_area :code, cols: '120', rows: '20', class: 'form-control', required: true %>
    </div>
    <div class='form-controls'>
      <label>&nbsp;</label>
      <%= f.submit :submit, class: 'btn btn-primary form-control', value: "Submit Solution" %>
    </div>
  <% end %>
</div>
<% unless @problem.competition_id.nil? %>
<div class='well'>
  <h3>Clarifications</h3>
  <% @clarifications.each do |clarification| %>
  <div class='well'>
    <p>Q: <%= clarification.question %></p>
    <p>A: <%= clarification.answer %></p>
  </div>
  <% end %>
  <div class='well'>
    <%= form_for [@problem, @clarification], html: { class: 'form' } do |f| %>
    <div class='form-controls'>
      <%= f.label :question %>
      <%= f.text_area :question, cols: '120', rows: '2', class: 'form-control', required: true %>
    </div>
    <div class='form-controls'>
      <label>&nbsp;</label>
      <%= f.submit :submit, class: 'btn btn-primary form-control', value: "Ask Question" %>
    </div>
    <% end %>
  </div>
</div>
<% end %>