<h3>Your Submissions</h3>
<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Competition</th>
      <th>Problem</th>
      <th>Submitted</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr class='<%= submission.status == 'success' ? 'success' : '' %>'>
        <% if submission.competition %>
          <td><%= link_to submission.competition.name, competition_path(submission.competition) %></td>
        <% else %>
          <td><i>None</i></td>
        <% end %>
        <td><%= link_to submission.problem.name, problem_path(submission.problem) %></td>
        <td><%= submission.updated_at.strftime('%B %e, %l:%M:%S %P') %></td>
        <td><%= submission.status.humanize %></td>
        <td><%= link_to 'Details', submission, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
